<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <h1 class="title">
    {{ title }}
  </h1>
</header>

<main class="main">
  <rst-article
    title="Our options for you"
    text="Below are our menu options for you:"
  ></rst-article>

  <table class="table middle">
    <caption class="caption">{{ tableOptions.tableTitle }}</caption>
    <thead>
      <tr>
        <th *ngFor="let columnTitle of tableOptions.columsName" class="th">{{ columnTitle }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableOptions.rows">
        <td *ngFor="let column of row" class="td">{{column}}</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <rst-article
    title="Order"
    text="To do your orther type the period and the number of options separated by comma"
  ></rst-article>

  <rst-send-input
    placeholder="Type here your order"
    name="order"
    textButton="Send your order"
  >
  </rst-send-input>


  <table class="table middle">
    <caption class="caption">{{ tableOrders.tableTitle }}</caption>
    <thead>
      <tr>
        <th *ngFor="let columnTitle of tableOrders.columsName" class="th">{{ columnTitle }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableOrders.rows">
        <td *ngFor="let column of row" class="td">{{column}}</td>
      </tr>
    </tbody>
  </table>

</main>
<router-outlet></router-outlet>
